.header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1.656rem 2rem;
}

.header-logo {
  display: flex;
  align-items: center;
  flex: 1;
}
.header-navbar {
  display: flex;
  flex: 3;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--color-4);
  font-size: 1rem;
  font-weight: 500;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--color-4);
  font-size: 1rem;
  font-weight: 500;
}

.header-btn {
  padding: 0.625rem 1.125rem;
  background-color: var(--color-p1);
  color: var(--color-1);
  border-radius: 0.5rem;
  transition: 0.3s;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

.header-btn:hover {
  background: var(--color-p3);
  transition: 0.3s;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}
